/*Estilo body*/
body {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

/*Estilo header*/
header {
  grid-area: header; }

/*Estilo NavBar*/
#navbar {
  background-color: #0a0a0a !important; }

.nav-link {
  font-family: "Nunito", sans-serif !important; }

/*Estilo main*/
main {
  grid-area: main; }

.titulo {
  font-family: 'Nunito', sans-serif;
  font-size: 5em;
  font-weight: 600;
  text-align: center;
  color: #0a0a0a;
  margin-top: 10px; }

/* Estilos Home */
.subtitulo-home {
  margin-top: 10px;
  display: inline;
  font-family: 'Nunito', sans-serif;
  font-size: 3em;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  color: #0a0a0a; }

.contenedor-home {
  margin: 45px 0px;
  padding: 0px;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: baseline; }

.contenedor-home__hijo {
  margin: 45px;
  padding: 0px;
  width: 25%;
  display: flex;
  flex-direction: column; }

/* Imagenes home */
.ilustracion-home {
  padding: 0px;
  width: 100%;
  height: 100%; }

/*Estilo footer*/
footer {
  margin-top: 50px;
  grid-area: footer;
  background-color: #0a0a0a;
  max-width: 100vw;
  height: 30px; }
  footer p {
    margin: 0px;
    padding-top: 5px;
    color: #F1F1F1;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: 100;
    font-style: italic;
    text-align: center; }

/*Media Queries*/
@media (max-width: 768px) {
  body {
    grid-template-areas: "header" "main" "main" "main" "footer"; }
  .contenedor-home {
    height: 100%;
    margin: 0px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .contenedor-home__hijo {
    width: 100%; }
  .ilustracion-home {
    width: 50%;
    height: 50%;
    align-self: center; }
  .subtitulo-home {
    margin-top: 20px; }
  footer {
    margin: 0px; } }

@media (max-width: 425px) {
  .subtitulo-home {
    font-size: 2em; }
  footer p {
    font-size: 10px; } }
