@import "colors.scss";

//Títulos


@mixin title {
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    background-image:url(https://res.cloudinary.com/divgzojnv/image/upload/v1639847567/Rojo%20Freelance/General/bg_img.svg);
    background-repeat:no-repeat;
    background-size: 100%;
    font-size: 5em;
    font-weight: 600;
    text-align: center;
    color: $color-5;
}

@mixin subtitle {
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 3em;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    color: $color-2;
}

@mixin parrafo {
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: $color-2;
    text-align: center;
}

@mixin p-footer {
    margin: 0px;
    padding-top: 5px;
    color: $color-6;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: 100;
    font-style: italic;
    text-align: center;
}