//Imports
@import "colors";
@import "imgs";
@import "tipografia.scss";

body {
    margin: 0px;
    padding: 0px;
}

#navbar {
    background-color: $color-2;
}

.titulo {
    @include title
}

.subtitulo-home {
    @include subtitle
}

// Home
.contenedor-home {
    display: flex;
    flex-direction: column;
}

// Imagenes home

.ilustracion-home {
    @include img-home
}